.dis{
    max-height:60%;
        width: 100%;
    }
    .dis img{
    height: 500px;
        width: 100vw;
    }
     .history p{
        font-size: 1.25rem;
    }
    .Distribute{
        background-color:#effafa;
    }
    