 :root{
    --green:var( #1dbfc1);
 }
.btn-outline-green{
    border:2px solid #1dbfc1;
    color: #1dbfc1;
}
.btn-outline-green:hover{
    color: white;
    background-color: #1dbfc1;
}
 
 .navbar-brand{
    height: 5rem;
    width: 10rem;
 }
 .dropdown-item{
    padding-left: 25px;
 }
 .dropdown-item:hover{
    background-color: #1dbfc1;
}
.nav-item:hover{
    background-color: #1dbfc1;
}
.dropdown-divider{
    margin: 0px;
}
.dropdown-menu{
    padding: 0px;
   
    top: 0px;
    border-radius: 0; 
}
header{
    background-color: rgb(255, 255, 255);
    
}
.nav-item{
    font-weight: bolder;
}
.fa-solid{
    display: inline;
    
}
.nav{
    position: relative;
    background-color: white;
}
.navbar-toggler{
    position: fixed;
    right: 40%;
    top: 30px;
}

.nav-item,.dropdown-item{
    font-size: 1rem;
   
}
.dropdown-menu{
    display: none;
    min-width: 250px;
    
}
.dropdown:hover .dropdown-menu{
    position: absolute;
    top: 50px;
    display: block;
}

@media screen and (max-width:990px){
    .navbar-collapse{
        position: absolute;
        background-color: #d6f9f9;
        top: 100px;
        max-width: 100%;
        min-width: 80%;
       /* border: 1px solid rgba(128, 128, 128, 0.5); */
       z-index: 100;
   
    }
    .navbar-toggler{
        position: absolute;
    }
    
    .navbar-brand{
        width: 8rem;
        height: 5rem;
    }
    .nav-item{
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    }
    .btn{
        color: rgb(0, 0, 0);
        border: none;
        background-color: none;
    }
  .nav-item{
    display: block;
  }
  .dropdown:hover .dropdown-menu{
    position: static;   
}
.nav-item,.dropdown-item{
display:block;
}

}

